/* animations.css */
@keyframes slide-in-left {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .slide-in-left {
    animation: slide-in-left 1s ease;
  }
  .hover-nav-item:hover {
    color: #851f1f;
    transform: scale(1.05);
    transition: color 0.3s, transform 0.3s;
  }
  